@tailwind base;
@tailwind components;
@tailwind utilities;

body { background-color: #f8fafc; color: #0f172a; }

@keyframes slideup {
  from { transform: translateY(100%); opacity: 0; }
  to   { transform: translateY(0);    opacity: 1; }
}
